<table aria-labelledby="<%= table_title %>">
  <thead>
    <tr>
      <th scope="col" class="cell-label">ID</th>
      <th scope="col" class="cell-label"><%= Company.human_attribute_name(:name) %></th>
      <th scope="col" class="cell-label"><%= Company.human_attribute_name(:description) %></th>
      <th scope="col" class="cell-label"><%= Company.human_attribute_name(:created_at) %></th>
      <th scope="col" class="cell-label--action-button"></th>
      <th scope="col" class="cell-label--action-button"></th>
    </tr>
  </thead>
  <tbody id="companies-tbody">
    <% resources.each do |resource| %>
      <%= render "admin/companies/row", resource: resource %>
    <% end %>
  </tbody>
</table>
