<p style="color: green"><%= notice %></p>

<h1>Companies</h1>

<div>
  <%= link_to "New company", new_company_path %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= company.name %></td>
        <td><%= company.description %></td>
        <td><%= company.created_at %></td>
        <td><%= company.updated_at %></td>
        <td><%= link_to "Show", company %></td>
        <td><%= button_to "Destroy", company, method: :delete, data: { turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
