<p style="color: green"><%= notice %></p>

<h1>Company</h1>

<div>
  <p>
    <strong>ID:</strong>
    <%= @company.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @company.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @company.description %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= @company.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= @company.updated_at %>
  </p>
</div>

<div>
  <%= link_to "Edit", edit_company_path(@company) %> |
  <%= link_to "Back to companies", companies_path %>
</div>
